<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<title>Stomatologia dla Ciebie</title>

  <head>
    {{ partial "headers_dentist.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav_dentist.html" . }}

        {{ partial "carousel_dentist.html" . }}

        {{ partial "features_dentist.html" . }}

        {{ partial "testimonials_dentist.html" . }}

        {{ partial "see_more_dentist.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
