<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<title>Medycyna dla Ciebie</title>

  <head>
    {{ partial "headers_medicine.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav_medicine.html" . }}

        {{ partial "carousel_medicine.html" . }}

        {{ partial "features_medicine.html" . }}

        {{ partial "testimonials_medicine.html" . }}

        {{ partial "see_more_medicine.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
