<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <if .medicine>
    <head>
      {{ partial "headers_medicine.html" . }}
      {{ partial "custom_headers.html" . }}
    </head>
  <end>
  <if .dentist>
    <head>
      {{ partial "headers_dentist.html" . }}
      {{ partial "custom_headers.html" . }}
    </head>
  <end>

  <body>

    <div id="dentist">
        {{ partial "top.html" . }}

        {{ partial "nav_dentist.html" . }}

        <!-- {{ partial "breadcrumbs.html" . }} -->

        <div id="content">

          

            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">
                          {{ partial "breadcrumbs.html" . }}
                    <div class="col-md-12">

                        <div>

                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
