<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "address_left" }}
        <div class="col-md-3 col-sm-6">

            <h4>{{ i18n "stomatologiaDlaCiebie" }}</h4>

            <p><strong>{{ .Site.Params.address_left.title | safeHTML }}</strong><br>
                {{ .Site.Params.address_left.street | safeHTML }}<br>
                {{ .Site.Params.address_left.city | safeHTML }}</p>

            <p>{{ i18n "phone" }}: +48 519 455 989 </p>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
        {{ end }}

        <div class="col-md-3 col-sm-6">
            <h4>{{ i18n "openingHours" }}</h4>
            <p><br>
                {{ i18n "monday" }}: 10:00–20:00<br>
                {{ i18n "tuesday" }}: 10:00–20:00<br>
                {{ i18n "wednesday" }}: 10:00–20:00<br>
                {{ i18n "thursday" }}: 10:00–20:00<br>
                {{ i18n "friday" }}: 09:00–20:00<br>
                {{ i18n "saturday" }}: {{ i18n "closed" }}<br>
                {{ i18n "sunday" }}: {{ i18n "closed" }}</p>
        </div>
        <!-- /.col-md-3 -->

        {{ if isset .Site.Params "address_right" }}
        <div class="col-md-3 col-sm-6">

            <h4>{{ i18n "medycynaDlaCiebie" }}</h4>

            <p><strong>{{ .Site.Params.address_right.title | safeHTML }}</strong><br>
                {{ .Site.Params.address_right.street | safeHTML }}<br>
                {{ .Site.Params.address_right.city | safeHTML }}</p>

            <p>{{ i18n "phone" }}: +48 573 156 637</p>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
        {{ end }}

        <div class="col-md-3 col-sm-6">
            <h4>{{ i18n "openingHours" }}</h4>
            <p><br>
                {{ i18n "monday" }}: 10:00–20:00<br>
                {{ i18n "tuesday" }}: 10:00–20:00<br>
                {{ i18n "wednesday" }}: 10:00–20:00<br>
                {{ i18n "thursday" }}: 10:00–20:00<br>
                {{ i18n "friday" }}: 10:00–20:00<br>
                {{ i18n "saturday" }}: {{ i18n "closed" }}<br>
                {{ i18n "sunday" }}: {{ i18n "closed" }}</p>
        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</footer>






<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ i18n "copyRight" }} &copy; {{ now.Year }} Stomatologia i Medycyna dla Ciebie
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            <p class="pull-right">
              {{ i18n "createdBy" | markdownify }} <a href="https://github.com/MateuszFamulski">Mateusz Famulski</a>.
              {{ i18n "templateBy" | markdownify }} <a href="https://bootstrapious.com/p/universal-business-e-commerce-template">Bootstrapious</a>.
              <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->

              {{ i18n "portedBy" | markdownify }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
