<style>
    .no-gap {
        padding-right: 1;
        padding-left: 1;
    }
    
    /* Dodajemy klasę dla kontenera karuzeli, aby łatwiej zastosować efekt przybliżenia */
    .homepage.owl-carousel .item {
        overflow: hidden; /* Zapobiega wyświetlaniu się poza granicami podczas skalowania */
        transition: transform 3s ease; /* Animacja skalowania */
        position: relative; /* Pozycjonowanie względne dla pseudoelementu */
    }

    .homepage.owl-carousel {
        overflow: hidden; /* Zapobiega wyświetlaniu się poza granicami podczas skalowania */
        transition: transform 3s ease; /* Animacja skalowania */
        position: relative; /* Pozycjonowanie względne dla pseudoelementu */
        border-radius: 50px;
        box-shadow: 0 0 20px rgba(148, 79, 253, 0.3); /* Cień */
        margin-top: 60px;
    }

    .homepage.owl-carousel:hover {
        transform: scale(1.05); /* Skaluje element przy najechaniu myszką */
        box-shadow: 0 0 20px rgba(128, 103, 227, 0.9); 
    }


</style>

{{ if default true .Site.Params.CarouselHomepage.enable }}
<section>                      
    <div class="container">
        <div class="row">
            <!-- Pierwsza karuzela (Dentist) -->
            <div class="col-md-6 no-gap">
                {{ if isset .Site.Data "dentist_carousel" }}
                {{ if gt (len .Site.Data.dentist_carousel) 0 }}
                <div >
                    <div class="homepage owl-carousel"
                        data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                        data-slide-speed= 10000
                        data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                        {{ range sort .Site.Data.dentist_carousel "weight" }}
                        <div class="item">
                            <a href="{{ "/dentist" | relLangURL }}">
                            <img class="img-responsive" src="/img/home/img_1.png" alt="">
                            {{ if .href }}
                            </a>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <!-- Druga karuzela (Medical) -->
            <div class="col-md-6 no-gap">
                {{ if isset .Site.Data "medicine_carousel" }}
                {{ if gt (len .Site.Data.medicine_carousel) 0 }}
                <div >
                    <div class="homepage owl-carousel"
                        data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                        data-slide-speed= 10000
                        data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                        {{ range sort .Site.Data.medicine_carousel "weight" }}
                        <div class="item">
                            <a href="{{ "/medicine" | relLangURL }}">
                            <img class="img-responsive" src="/img/home/img_2.png" alt="">
                            {{ if .href }}
                            </a>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
