{{ if isset .Site.Params "see_more" }}
    {{ if .Site.Params.see_more.enable }}
        <section class="bar background-image-fixed-2 no-mb color-white text-center">
            <div class="dark-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <style>
                            .btn-violet {
                                background-color: rgb(104, 20, 173);
                                color: white;
                            }

                            .btn-violet:hover {
                                background-color: darkpurple;
                                color: white;
                            }
                        </style>
                        <h3 class="text-uppercase">{{ i18n "seeMore" }}</h3>
                        <p class="lead">{{ i18n "seeMoreSubtitle" }}</p>
                        <p class="text-center">
                            <a href="https://www.facebook.com/p/Stomatologia-dla-Ciebie-100064118321200" target="_blank" class="btn btn-violet">{{ i18n "facebookStomatologia" }}</a>
                            <a href="https://www.instagram.com/stomatologia_dla_ciebie/" target="_blank" class="btn btn-violet">{{ i18n "instagramStomatologia" }}</a>
                            <a href="https://www.facebook.com/profile.php?id=100089476817348" target="_blank" class="btn btn-violet">{{ i18n "facebookMedycyna" }}</a>
                            <a href="https://www.instagram.com/medycyna_dla_ciebie_stargard/" target="_blank" class="btn btn-violet">{{ i18n "instagramMedycyna" }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}
