<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }} {{ partial "custom_headers.html" . }}

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Stomatologia Stargard - Stomatologia dla Ciebie</title>
    <meta
      content="Stomatologia&Medycyna dla Ciebie to gabinety lekarskie świadczące usługi stomatologiczne, medyczne i kosmetologiczne. Nasze gabinety znajdziesz w Stargardzie. Zapraszamy do skorzystania z naszych usług."
      name="description"
    />
    <meta
      content="stomatologia Stargard, medycyna Stargard, dentysta Stargard, gabinet stomatologiczny Stargard, leczenie zębów Stargard, protetyka Stargard, ortodoncja Stargard, implanty zębów Stargard, stomatologia estetyczna Stargard, leczenie kanałowe Stargard, lekarz Stargard, poradnia medyczna Stargard, konsultacje lekarskie Stargard, zdrowie Stargard, opieka medyczna Stargard, badania profilaktyczne Stargard, leczenie chorób Stargard, rehabilitacja Stargard, stomatologia dla ciebie Stargard, medycyna dla ciebie Stargard, laser medyczny Stargard, depilacja laserowa Stargard, maseczki laserowe Stargard, dietetyk Stargard, konsultacje dietetyczne Stargard, odchudzanie Stargard, ortopeda Stargard, fizjoterapia Stargard, rehabilitacja ortopedyczna Stargard"
      name="keywords"
    />

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta
      property="og:title"
      content="Stomatologia&Medycyna dla Ciebie Stargard"
    />
    <meta
      property="og:image"
      content="https://dlaciebie.stargard.pl/img/photo/Stomatologia_Stargard_2048px-179.jpg"
    />
    <meta property="og:url" content="https://dlaciebie.stargard.pl" />
    <meta
      property="og:site_name"
      content="Stomatologia&Medycyna dla Ciebie Stargard"
    />
    <meta
      property="og:description"
      content="Stomatologia&Medycyna dla Ciebie to gabinety lekarskie świadczące usługi stomatologiczne, medyczne i kosmetologiczne. Nasze gabinety znajdziesz w Stargardzie. Zapraszamy do skorzystania z naszych usług."
    />

    <!-- Twitter Cards integration: https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts -->
    <meta
      name="twitter:title"
      content="Stomatologia&Medycyna dla Ciebie Stargard"
    />
    <meta
      name="twitter:description"
      content="Stomatologia&Medycyna dla Ciebie to gabinety lekarskie świadczące usługi stomatologiczne, medyczne i kosmetologiczne. Nasze gabinety znajdziesz w Stargardzie. Zapraszamy do skorzystania z naszych usług."
    />
    <meta
      name="twitter:image"
      content="https://dlaciebie.stargard.pl/img/photo/Stomatologia_Stargard_2048px-179.jpg"
    />

    <style>
      h2 {
        text-align: center; /* Wyśrodkowanie tekstu */
        font-size: 2vw; /* Responsywny rozmiar tekstu */
        background: -webkit-linear-gradient(45deg, #112d7a, #db67e3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(45deg, #112d7abb, #db67e3a1);
        color: rgb(255, 255, 255);
      }

      @media (max-width: 600px) {
        h2 {
          font-size: 5vw; /* Większy rozmiar tekstu na małych ekranach */
        }
      }
    </style>
  </head>

  <body>
    <div id="all">
      {{ partial "nav_home.html" . }}

      <!-- <h2> Perfekcyjny Uśmiech Czeka w Dwóch Lokalizacjach: Gdzie Go Odkryjesz? </h2>       -->

      {{ partial "home.html" . }} {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
  </body>
</html>
